<mat-toolbar color="primary">
    <span>Cosmic Wimpout</span>

    <!-- This fills the remaining space of the current row -->
    <span class="example-fill-remaining-space"></span>

    <span>
        <button
            mat-mini-fab
            class="nav-btn"
            routerLink="/new-game"
            routerLinkActive="active">
            <mat-icon class="material-icons" aria-label="New Game">add</mat-icon>
        </button>
        <button
            mat-mini-fab
            class="nav-btn"
            routerLink="/load-game"
            routerLinkActive="active">
            <mat-icon class="material-icons" aria-label="Load Game">folder_open</mat-icon>
        </button>
        <button
            mat-mini-fab
            class="nav-btn"
            routerLink="/about"
            routerLinkActive="active">
            <mat-icon class="material-icons" aria-label="About">help</mat-icon>
        </button>
    </span>
</mat-toolbar>

<router-outlet></router-outlet>
